<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mr.good.mapper.GoodsMapper">
  <resultMap id="BaseResultMap" type="com.mr.good.pojo.Goods">
    <id column="go_id" jdbcType="INTEGER" property="goId" />
    <result column="go_name" jdbcType="VARCHAR" property="goName" />
    <result column="go_synopsis" jdbcType="VARCHAR" property="goSynopsis" />
    <result column="go_detailed" jdbcType="VARCHAR" property="goDetailed" />
    <result column="go_type" jdbcType="INTEGER" property="goType" />
    <result column="go_states" jdbcType="INTEGER" property="goStates" />
    <result column="go_DateTimeS" jdbcType="TIMESTAMP" property="goDatetimes" />
    <result column="go_Sales" jdbcType="INTEGER" property="goSales" />
    <result column="go_old" jdbcType="DOUBLE" property="goOld" />
    <result column="go_new" jdbcType="DOUBLE" property="goNew" />
    <result column="go_num" jdbcType="INTEGER" property="goNum" />
  </resultMap>
  <sql id="Base_Column_List">
    go_id, go_name, go_synopsis, go_detailed, go_type, go_states, go_DateTimeS, go_Sales, 
    go_old, go_new, go_num
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_goods
    where go_id = #{goId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_goods
    where go_id = #{goId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.mr.good.pojo.Goods">
    insert into t_goods (go_id, go_name, go_synopsis, 
      go_detailed, go_type, go_states, 
      go_DateTimeS, go_Sales, go_old, 
      go_new, go_num)
    values (#{goId,jdbcType=INTEGER}, #{goName,jdbcType=VARCHAR}, #{goSynopsis,jdbcType=VARCHAR}, 
      #{goDetailed,jdbcType=VARCHAR}, #{goType,jdbcType=INTEGER}, #{goStates,jdbcType=INTEGER}, 
      #{goDatetimes,jdbcType=TIMESTAMP}, #{goSales,jdbcType=INTEGER}, #{goOld,jdbcType=DOUBLE}, 
      #{goNew,jdbcType=DOUBLE}, #{goNum,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.mr.good.pojo.Goods">
    insert into t_goods
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="goId != null">
        go_id,
      </if>
      <if test="goName != null">
        go_name,
      </if>
      <if test="goSynopsis != null">
        go_synopsis,
      </if>
      <if test="goDetailed != null">
        go_detailed,
      </if>
      <if test="goType != null">
        go_type,
      </if>
      <if test="goStates != null">
        go_states,
      </if>
      <if test="goDatetimes != null">
        go_DateTimeS,
      </if>
      <if test="goSales != null">
        go_Sales,
      </if>
      <if test="goOld != null">
        go_old,
      </if>
      <if test="goNew != null">
        go_new,
      </if>
      <if test="goNum != null">
        go_num,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="goId != null">
        #{goId,jdbcType=INTEGER},
      </if>
      <if test="goName != null">
        #{goName,jdbcType=VARCHAR},
      </if>
      <if test="goSynopsis != null">
        #{goSynopsis,jdbcType=VARCHAR},
      </if>
      <if test="goDetailed != null">
        #{goDetailed,jdbcType=VARCHAR},
      </if>
      <if test="goType != null">
        #{goType,jdbcType=INTEGER},
      </if>
      <if test="goStates != null">
        #{goStates,jdbcType=INTEGER},
      </if>
      <if test="goDatetimes != null">
        #{goDatetimes,jdbcType=TIMESTAMP},
      </if>
      <if test="goSales != null">
        #{goSales,jdbcType=INTEGER},
      </if>
      <if test="goOld != null">
        #{goOld,jdbcType=DOUBLE},
      </if>
      <if test="goNew != null">
        #{goNew,jdbcType=DOUBLE},
      </if>
      <if test="goNum != null">
        #{goNum,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.mr.good.pojo.Goods">
    update t_goods
    <set>
      <if test="goName != null">
        go_name = #{goName,jdbcType=VARCHAR},
      </if>
      <if test="goSynopsis != null">
        go_synopsis = #{goSynopsis,jdbcType=VARCHAR},
      </if>
      <if test="goDetailed != null">
        go_detailed = #{goDetailed,jdbcType=VARCHAR},
      </if>
      <if test="goType != null">
        go_type = #{goType,jdbcType=INTEGER},
      </if>
      <if test="goStates != null">
        go_states = #{goStates,jdbcType=INTEGER},
      </if>
      <if test="goDatetimes != null">
        go_DateTimeS = #{goDatetimes,jdbcType=TIMESTAMP},
      </if>
      <if test="goSales != null">
        go_Sales = #{goSales,jdbcType=INTEGER},
      </if>
      <if test="goOld != null">
        go_old = #{goOld,jdbcType=DOUBLE},
      </if>
      <if test="goNew != null">
        go_new = #{goNew,jdbcType=DOUBLE},
      </if>
      <if test="goNum != null">
        go_num = #{goNum,jdbcType=INTEGER},
      </if>
    </set>
    where go_id = #{goId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mr.good.pojo.Goods">
    update t_goods
    set go_name = #{goName,jdbcType=VARCHAR},
      go_synopsis = #{goSynopsis,jdbcType=VARCHAR},
      go_detailed = #{goDetailed,jdbcType=VARCHAR},
      go_type = #{goType,jdbcType=INTEGER},
      go_states = #{goStates,jdbcType=INTEGER},
      go_DateTimeS = #{goDatetimes,jdbcType=TIMESTAMP},
      go_Sales = #{goSales,jdbcType=INTEGER},
      go_old = #{goOld,jdbcType=DOUBLE},
      go_new = #{goNew,jdbcType=DOUBLE},
      go_num = #{goNum,jdbcType=INTEGER}
    where go_id = #{goId,jdbcType=INTEGER}
  </update>
  <select id="selectAll" resultType="com.mr.pojo.Goods">
    select *  FROM t_Goods
  </select>
</mapper>